In [2]:
import requests
import pandas as pd

# Example Curl Request

In [3]:
movies = pd.read_csv('data/movie_demographics.csv', index_col='movieId')
movies.head()

,title,genres,ratings_count,avg_rating
movieId,,,,
0,Jumanji (1995),Adventure|Children|Fantasy,22243,3.211977
1,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,8520,3.952230
2,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,44980,3.898055
3,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,43249,4.053493
4,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,47006,4.334372

In [4]:
def lookup_movie_id_by_title(movie_title):
    return movies[movies.title.str.contains(movie_title)]

In [5]:
lookup_movie_id_by_title("Grease")

,title,genres,ratings_count,avg_rating
movieId,,,,
1195,Grease (1978),Comedy|Musical|Romance,15630,3.314459
4146,Grease 2 (1982),Comedy|Musical|Romance,3670,1.963760
13176,Greaser's Palace (1972),Comedy|Drama|Western,35,3.128571

In [10]:
url = 'http://127.0.0.1:5000/'
payload ={'movie_title': 'Lord of the Rings: The Fellowship of the Ring, The (2001)'}
payload ={'movie_title': 'Zodiac (2007)'}
payload ={'movie_title': 'Grease 2 (1982)'}
response = requests.get(url, payload)
pd.DataFrame(response.json()).T

,avg_rating,genres,similarity_score,title
7039,1.1,Drama|Musical|Romance,0.914028,Glitter (2001)
6604,1.3,Comedy,0.911097,Disaster Movie (2008)
1787,1.5,Adventure|Comedy,0.909841,Epic Movie (2007)
3928,1.7,Comedy|Romance,0.907828,Date Movie (2006)
3146,1.8,Comedy|Musical|Romance,0.907623,Crossroads (2002)
3738,1.2,Comedy|Crime|Romance,0.904028,Gigli (2003)
2248,1.9,Action|Romance|Thriller,0.902377,Speed 2: Cruise Control (1997)
8644,1,Musical|Romance,0.897303,From Justin to Kelly (2003)
3790,1.5,Action|Horror|Sci-Fi|Thriller,0.896293,Alone in the Dark (2005)
2890,1.8,Action|Comedy,0.895521,Stop! Or My Mom Will Shoot (1992)
3387,1.7,Comedy,0.895462,Baby Geniuses (1999)
6971,1.2,Animation|Children,0.895076,Pokémon Heroes (2003)
3895,1.9,Comedy,0.893527,Vampires Suck (2010)
10661,1.8,Children|Comedy,0.892087,Furry Vengeance (2010)
575,1.6,Action|Sci-Fi,0.891789,Battlefield Earth (2000)
3600,1.8,Children|Comedy,0.890203,Home Alone 3 (1997)
3558,1.9,Action|Adventure|Fantasy,0.889793,Street Fighter (1994)
4040,1.8,Action|Horror,0.889564,Jaws 3-D (1983)
5878,1.7,Action|Fantasy,0.886201,BloodRayne (2005)
5479,2.3,Thriller,0.884349,Swimfan (2002)

In [ ]:
!curl -X GET http://127.0.0.1:5000/ -d movie_title='Zodiac (2007)'