In [14]:
import requests
import pandas as pd

# Example Curl Request

In [15]:
movies = pd.read_csv('data/movie_demographics.csv', index_col='movieId')
movies.head()

,title,genres,ratings_count,avg_rating
movieId,,,,
0,Jumanji (1995),Adventure|Children|Fantasy,22243,3.211977
1,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,8520,3.952230
2,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,44980,3.898055
3,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,43249,4.053493
4,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,47006,4.334372

In [16]:
def lookup_movie_id_by_title(movie_title):
    return movies[movies.title.str.contains(movie_title)]

In [17]:
lookup_movie_id_by_title("Jumanji")

                  title                      genres  ratings_count  avg_rating
movieId
0        Jumanji (1995)  Adventure|Children|Fantasy          22243    3.211977

In [53]:
url = 'http://127.0.0.1:5000/'
payload ={'movie_title': 'Lord of the Rings: The Fellowship of the Ring, The (2001)'}
#'Zodiac (2007)'
#'Grease (1978)'
#'Dirty Dancing (1987)'
#'Aladdin (1992)'
#'Moon (2009)'
payload ={'movie_title': 'Queen of the Damned (2002)', 'model': 'neural network'}
response = requests.get(url, payload)
response.request.path_url

'/?movie_title=Queen+of+the+Damned+%282002%29&model=neural+network'

In [59]:
payload ={'movie_title': 'Queen of the Damned (2002)', 'model': 'matrix factorization'}
response = requests.get(url, payload)
response.json()

['Underworld (2003)',
 'Van Helsing (2004)',
 'Dracula 2000 (2000)',
 'Blade II (2002)',
 'Blade: Trinity (2004)',
 'Underworld: Evolution (2006)',
 'Once Bitten (1985)',
 'Night Watch (Nochnoy dozor) (2004)',
 'Librarian, The: The Curse of the Judas Chalice (2008)',
 'Underworld: Rise of the Lycans (2009)',
 '30 Days of Night (2007)',
 "Dracula (Bram Stoker's Dracula) (1992)",
 'Blood: The Last Vampire (2009)',
 'League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)',
 'Lost Boys: The Thirst (2010)',
 'Daybreakers (2010)',
 'Blade (1998)',
 'Monster Squad, The (1987)',
 'BloodRayne (2005)',
 'Jeepers Creepers (2001)']

In [63]:
!curl -X GET http://127.0.0.1:5000/ -d "movie_title=Queen of the Damned (2002)" -d "model=matrix factorization"

["Underworld (2003)", "Van Helsing (2004)", "Dracula 2000 (2000)", "Blade II (2002)", "Blade: Trinity (2004)", "Underworld: Evolution (2006)", "Once Bitten (1985)", "Night Watch (Nochnoy dozor) (2004)", "Librarian, The: The Curse of the Judas Chalice (2008)", "Underworld: Rise of the Lycans (2009)", "30 Days of Night (2007)", "Dracula (Bram Stoker's Dracula) (1992)", "Blood: The Last Vampire (2009)", "League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)", "Lost Boys: The Thirst (2010)", "Daybreakers (2010)", "Blade (1998)", "Monster Squad, The (1987)", "BloodRayne (2005)", "Jeepers Creepers (2001)"]